@import '../../../../../../styles/_variables';

app-work-orders-duration-row {
  .work-orders-duration-row {
    display: flex;
    position: relative;
    height: 100%;
    padding: 0 5px;

    &:hover {
      .work-orders-duration-row-add {
        display: block;
        cursor: pointer;
      }
    }

    &-add {
      width: 113px;
      height: 38px;
      border: 1px solid #c3c7ff;
      border-radius: 8px;
      background-color: rgba(101, 112, 255, 0.1);
      position: absolute;
      z-index: 1;
      top: 5px;
      display: none;
    }

    &-interval {
      flex: 0 0 113px;
      height: 100%;
      position: relative;

      &-today {
        border-left: 3px solid $today-separator-color;
      }
    }

    &-interval:not(:last-child) {
      border-right: 1px solid $separator-color;
    }


    .work-order-bar {
      position: absolute;
      will-change: transform, width, left;
      height: 38px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 8px;
      z-index: 1;

      &.dropdown-is-open {
        z-index: 100;
      }

      &-content {
        padding: 0 8px;
        display: flex;
        align-items: center;
        gap: 4px;
        height: 100%;
      }

      &-overflow {
        position: absolute;
        max-width: max-content;
      }

      &-open {
        box-shadow: 0 0 0 1px $work-orders-open-bar-shadow-color;
        background-color: $work-orders-open-bar-bg-color;
      }

      &-in-progress {
        box-shadow: 0 0 0 1px $work-orders-in-progress-bar-shadow-color;
        background-color: $work-orders-in-progress-bar-bg-color;
      }

      &-complete {
        box-shadow: 0 0 0 1px $work-orders-complete-bar-shadow-color;
        background-color: $work-orders-complete-bar-bg-color;

      }

      &-blocked {
        box-shadow: 0 0 0 1px $work-orders-blocked-bar-shadow-color;
        background-color: $work-orders-blocked-bar-bg-color;
      }

      &-label {
        color: $work-orders-label-text-color;
        font-family: "Circular-Std", sans-serif;
        font-size: 14px;
        font-weight: 400;
        flex-grow: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      &:hover {
        .work-order-bar-options {
          display: block;
        }

      }

      &-options {
        width: 24px;
        height: 22px;
        border-radius: 5px;
        background-color: #F1F3F8;
        text-align: center;
        display: none;
        cursor: pointer;


        &-container {
          width: 24px;
          height: 22px;
          flex-shrink: 0;
        }

        img {
          width: 12px;
          height: auto;
          margin: 0 auto;
        }
      }

    }
  }

  .dropdown-toggle::after {
    display: none;
  }

  .order-details-tooltip .tooltip-inner {
    box-shadow: 0 5px 15px 0 rgba(216, 220, 235, 1), 0 2.5px 3px -1.5px rgba(200, 207, 233, 1), 0 4.5px 5px -1px rgba(216, 220, 235, 1);
    border-radius: 12px;
    background-color: #ffffff;
    max-width: 600px;
    width: max-content;
  }

  .order-details-tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #ffffff;
  }

}
