@import '../../../../../styles/_variables';

app-work-orders-duration-row {
  .work-orders-duration-row {
    display: flex;
    position: relative;
    height: 100%;
    padding: 0 5px;

    &:hover {
      .work-orders-duration-row-add {
        display: block;
        cursor: pointer;
      }
    }

    &-add {
      width: 113px;
      height: 38px;
      border: 1px solid #c3c7ff;
      border-radius: 8px;
      background-color: rgba(101, 112, 255, 0.1);
      position: absolute;
      z-index: 1;
      top: 5px;
      display: none;
    }

    &-interval {
      flex: 0 0 113px;
      height: 100%;
      position: relative;

      &-today {
        border-left: 3px solid $today-separator-color;
      }
    }

    &-interval:not(:last-child) {
      border-right: 1px solid $separator-color;
    }


    .work-order-bar {
      position: absolute;
      height: 38px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 8px;
      display: flex;
      align-items: center;
      padding: 0 8px;
      gap: 4px;
      z-index: 1;

      &-open {
        box-shadow: 0 0 0 1px $work-orders-open-bar-shadow-color;
        background-color: $work-orders-open-bar-bg-color;
      }

      &-in-progress {
        box-shadow: 0 0 0 1px $work-orders-in-progress-bar-shadow-color;
        background-color: $work-orders-in-progress-bar-bg-color;
      }

      &-complete {
        box-shadow: 0 0 0 1px $work-orders-complete-bar-shadow-color;
        background-color: $work-orders-complete-bar-bg-color;

      }

      &-blocked {
        box-shadow: 0 0 0 1px $work-orders-blocked-bar-bg-color;
        background-color: $work-orders-blocked-bar-bg-color;
      }

      &-label {
        color: $work-orders-label-text-color;
        font-family: CircularStd-Book, sans-serif;
        font-size: 14px;
        font-weight: 400;
        flex-grow: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      &:hover {
        .work-order-bar-options {
          display: block;
        }

      }

      &-options {
        width: 24px;
        height: 22px;
        border-radius: 5px;
        background-color: #F1F3F8;
        text-align: center;
        display: none;
        cursor: pointer;


        &-container {
          width: 24px;
          height: 22px;
          flex-shrink: 0;
        }

        img {
          width: 12px;
          height: auto;
          margin: 0 auto;
        }
      }

    }
  }

  .dropdown-toggle::after {
    display: none;
  }
}