@import '../../../../../../styles/variables';

app-create-edit-work-order-form {
  .work-order-form {
    &-header {
      padding: 16px 24px;
      border-bottom: 1px solid $separator-color;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-actions {
      display: flex;
      gap: 8px;
    }

    &-error {
      color: red;
      font-size: 12px;
    }

    &-cancel {
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 1), 0 1px 3px 0 rgba(200, 207, 233, 1);
      border-radius: 7px;
      background-color: rgba(255, 255, 255, 1);
      padding: 6.5px 8px;
      border: none;
      line-height: 18px;
      color: $modal-title-color;
    }

    &-create {
      box-shadow: 0 0 0 1px rgba(86, 89, 255, 1), 0 1px 3px 0 rgba(200, 207, 233, 1);
      border-radius: 7px;
      background-color: #5659ff;
      padding: 6.5px 10px;
      border: none;
      line-height: 18px;
      color: #ffffff;
    }

    &-title {
      color: $modal-title-color;
      font-family: CircularStd-Medium, sans-serif;
      font-size: 20px;
      font-weight: 500;
    }

    &-subtitle {
      color: $work-orders-header-text-color;
      font-family: CircularStd-Book, sans-serif;;
      font-size: 16px;
      font-weight: 400;
    }

    &-table {
      padding: 0 24px;

      .work-order-form-label {
        width: 100%;
        color: rgba(104, 113, 150, 1);
        font-family: CircularStd-Regular, sans-serif;
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 8px;
        padding-top: 24px;
      }

      input, .ng-select-container {
        width: 100%;
        color: #687196;
        font-family: CircularStd-Regular, sans-serif;
        font-size: 14px;
        font-weight: 500;
        box-shadow: 0 0 0 1px rgba(216, 220, 235, 1), 0 1.5px 3px -1.5px rgba(200, 207, 233, 1), 0 1px 0.5px -1px rgba(216, 220, 235, 1);
        border-radius: 5px;
        background-color: #ffffff;
        padding: 9px 11px;
        line-height: 17px;
        border: none;
        outline: none;
      }

      .ng-select-container {
        padding: 9px 0;
      }

      .ng-select-container:hover {
        box-shadow: 0 0 0 1px rgba(216, 220, 235, 1), 0 1.5px 3px -1.5px rgba(200, 207, 233, 1), 0 1px 0.5px -1px rgba(216, 220, 235, 1) !important;
      }
    }
  }
}