@import '../../../../../styles/_variables';

.work-orders-table {
  flex-basis: 380px;
  flex-shrink: 0;
  flex-grow: 0;
  height: 100%;

  &-header {
    color: rgba(104, 113, 150, 1);
    font-family: CircularStd-Regular, sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 31px;
    border-bottom: 1px solid rgba(230, 235, 240, 1);
  }

  &-column {
    border: 1px solid rgba(230, 235, 240, 1);
    height: 100%;
  }

  &-row {
    height: $work-orders-row-height;
    color: rgba(3, 9, 41, 1);
    font-family: CircularStd-Regular, sans-serif;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid rgba(230, 235, 240, 1);
    display: flex;
  }

  .work-order-name {
    padding: 16px 31px;
    flex: 0 0 380px
  }

}
