<div class="work-orders-table">
    <div class="work-orders-table-header">
        <div class="work-orders-table-header-cell work-center"> Work Center</div>
        <div class="work-orders-table-header-interval-row">
            <div class="work-orders-table-header-cell work-orders-duration-interval"
                 *ngFor="let interval of intervals$ | async">
                {{ interval.formattedName }}
                <div class="work-orders-table-header-current-badge" *ngIf="interval.isToday">
                    <span>Current {{interval.timescale}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="work-orders-table-row" *ngFor="let workCenterDocument of workCenters$ | async">
        <div class="work-order-name">{{ workCenterDocument.data.name }}</div>

        <app-work-orders-duration-row style="flex-grow: 1"
                                      [workCenterId]="workCenterDocument.docId"></app-work-orders-duration-row>
    </div>

    <!--    One empty row at the end filling the remaining space in the screen (if any)-->
    <div class="work-orders-table-row fill-remaining-space no-hover">
        <div class="work-order-name"></div>

        <app-work-orders-duration-row style="flex-grow: 1"></app-work-orders-duration-row>
    </div>
</div>