<div class="work-orders-table"  #scrollContainer>
    <div class="work-orders-table-header">
        <div class="work-orders-table-header-cell work-center"> Work Center</div>
        <!-- Left Sentinel -->
        <div #scrollSentinelLeft style="width: 1px; flex-shrink: 0;"></div>
        <div class="work-orders-table-header-interval-row">

           <!-- Intervals-->
            <div class="work-orders-table-header-cell work-orders-duration-interval"
                 *ngFor="let interval of intervals; trackBy: trackByInterval">
                {{ interval.formattedName }}
                <div class="work-orders-table-header-current-badge" *ngIf="interval.isToday">
                    <span>Current {{interval.timescale}}</span>
                </div>
            </div>
            <!-- Right Sentinel -->
            <div #scrollSentinelRight style="width: 1px; flex-shrink: 0;"></div>
        </div>
    </div>
    <div class="work-orders-table-row" *ngFor="let workCenterDocument of workCenters; trackBy: trackByWorkCenter">
        <div class="work-order-name">{{ workCenterDocument.data.name }}</div>

        <app-work-orders-duration-row-page style="flex-grow: 1"
                                      [workCenterId]="workCenterDocument.docId"
                                      [workOrders]="workOrders[workCenterDocument.docId] ?? []"
        ></app-work-orders-duration-row-page>
    </div>

    <!--    One empty row at the end filling the remaining space in the screen (if any)-->
    <div class="work-orders-table-row fill-remaining-space no-hover">
        <div class="work-order-name"></div>
        <app-work-orders-duration-row style="flex-grow: 1" [intervals]="intervals"></app-work-orders-duration-row>
    </div>
</div>