.create-edit-work-order {
  &-backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #f7f9fc;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 3;
  }

  &-container {
    height: 100vh;
    width: 591px;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 0 5px 15px 0 rgba(216, 220, 235, 1), 0 2.5px 3px -1.5px rgba(200, 207, 233, 1), 0 4.5px 5px -1px rgba(216, 220, 235, 1);
    border-radius: 12px 0px 0px 12px;
    background-color: #ffffff;
    z-index: 4;
  }
}